<header id="nav-top">
    <div id="left">
        <div class="flex pdl-10" style="font-family: 'Poppins', sans-serif;">
            <svg class="icons left-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
            <p class="fz-20 pdl-10 lineH-30">Back</p>
        </div>
        <h1 class="fz-20 {{post.language}}" style="white-space: nowrap; padding: 0 10px;">{{post.title}}</h1>
    </div>
</header>