{% for Post in Posts %}
    <div class="card">
        <a href="{% url 'post' Post.title %}" class="card-link">
            <div class="card-img">
                <img src="{{Post.image.url}}">
            </div>
            <div class="card-detial">
                <h2 class="card-title f-500 {{Post.language}}" style="font-size: 18px">{{Post.title}}</h2>
                <div class="card-preview {{Post.language}} sec-clr">
                    {{Post.lyric|safe|linebreaks}}
                </div>
                <div class="tags">
                    <span class="tag nowrap">
                        <p>{{Post.tag}}</p>
                    </span>
                    <span class="tag nowrap">
                        <p>{{Post.language}}</p>
                    </span>
                </div>
            </div>
        </a>
    </div>
    {%empty%}
        <div class="card flex-center">
            {% include 'general_app/components/errors/no-post-available.html' %}
        </div>
{% endfor %}