<div class="nav-side">
    <div class="scrim"></div>
    <div class="nav-side-bar">
        <div class="nav-side-top">
            {% include 'general_app/components/brand.html' %}
            {% include 'general_app/components/menu-links.html' %}
            {% comment %} {% include 'general_app/components/subscription.html' %} {% endcomment %}
            <div>
                <p class="pdl-10" style="margin-top: 10px">Follow us</p>
                {% include 'general_app/components/contact.html' %}
            </div>

            <div class="cancel-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="icons cancel-icon" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </div>
        </div>
    </div>
</div>