<div id="side">
    <div class="sub-side">
        <div class="side-item">
            <div class="user">
                <svg class="icons user-icon" viewBox="0 0 24 24"><path d="M5.5 7.5A5.5 5.5 0 0111 2a5.5 5.5 0 015.5 5.5A5.5 5.5 0 0111 13a5.5 5.5 0 01-5.5-5.5zm8.11 9.498c.404-.408.91-1 1.17-1.51.067-.133.13-.284.165-.442.034-.15.058-.373-.033-.602a.872.872 0 00-.545-.509 1.37 1.37 0 00-.604-.043c-.657.082-1.518.184-2.373.24-.867.055-1.68.058-2.254-.041-1.189-.204-2.045-.19-2.781.087-.722.272-1.25.773-1.804 1.302-1.533 1.462-2.434 3.311-2.65 4.831-.11.78.535 1.339 1.199 1.339h8.1a.96.96 0 00.955-.929c.06-1.767.7-2.96 1.456-3.723zm5.596-2.292a.706.706 0 00-1.412 0v2.588h-2.588a.706.706 0 000 1.412h2.588v2.588a.706.706 0 101.412 0v-2.588h2.588a.706.706 0 000-1.412h-2.588v-2.588z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                {% if user.is_authenticated %}
                    <span>
                    <a href="{% url 'dashboard' %}">{{user.username}}</a>
                    {% if user.is_superuser %}
                    (Admin)
                    {% endif %}
                    </span>
                {% else %}
                    <span>Subscribe</span>
                {% endif %}
            </div>
            {% include 'general_app/components/menu-links.html' %}
            {% include 'general_app/components/ads-banner.html' %}
            {% comment %} {% include 'general_app/components/subscription.html' %} {% endcomment %}
        </div>
        <div class="contact sec-clr f-600">
            <div class="side-item" style="margin-top: 10px">
                <span>Follow on</span>
            </div>
            <div class="side-item">
                {% include 'general_app/components/contact.html' %} 
            </div>
        </div>
    </div>
</div>