{% extends 'editor_app/components/base_admin.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block container %}
    <div class="card">
        <form action="{% url 'login' %}" method="POST" id="editor-login" enctype="multipart/form-data">
            <!-- Input -->
            {% csrf_token %}
            <!-- {{form.non_field_errors}} -->
            <center><h2>Login</h2></center>
            <div style="list-style: none; background-color: var(--hover-color); border-radius: 2px;">
                <p style="padding: 0 5px; color:red">{{form.non_field_errors | striptags}}</p>
            </div>
            <div class="editor-input">
                <label>{{form.username.label}}</label>
                {{form.username}}
            </div>
            <div class="editor-input">
                <label>{{form.password.label}}</label>
                {{form.password}}
            </div>
            <input type="submit" id="editor-submit" class="blue-clr" value="Login" style="padding: 5px; margin: 10px 0; border-radius: 2px;">
        </form>
        <center><a href="{% url 'register' %}">Sign up now?</a></center>
    </div>
{% endblock  %}