{% extends 'editor_app/components/base_admin.html' %}
{% load static %}
{% block title %}Password Change{% endblock %}

{% block container %}
    <div class="card">
        <form action="{% url 'password_change' %}" method="POST" id="editor-login" enctype="multipart/form-data">
            <!-- Input -->
            {% csrf_token %}
            <center><h2>Chage Password</h2></center>
            <div style="list-style: none; background-color: var(--hover-color); border-radius: 2px;">
                <p style="padding: 0 5px; color:red">{{form.non_field_errors | striptags}}</p>
            </div>
            <div class="editor-input">
                <label for="id_old_password">{{form.old_password.label}}</label>
                {{form.old_password}}
            </div>
            <div class="editor-input">
                <label for="id_new_password1">{{form.new_password1.label}}</label>
                {{form.new_password1}}
            </div>
            <div class="editor-input">
                <label for="id_new_password2">{{form.new_password2.label}}</label>
                {{form.new_password2}}
            </div>
            <input type="submit" id="editor-submit" class="blue-clr" value="Change Password" style="padding: 5px; margin: 10px 0; border-radius: 2px;">
        </form>
        <center><a href="{% url 'register' %}">Sign up now?</a></center>
    </div>
{% endblock  %}