{% extends 'editor_app/components/base_admin.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}

{% block container %}
    <div class="card">
        <form action="{% url 'password_reset' %}" method="POST" id="editor-login" enctype="multipart/form-data">
            <!-- Input -->
            {% csrf_token %}
            <center><h2>Chage Password</h2></center>
            <div class="editor-input">
                <label for="id_email">{{form.email.label}}</label>
                {{form.email}}
                {{form.email.errors}}
            </div>
            <input type="submit" id="editor-submit" class="blue-clr" value="Reset Password" style="padding: 5px; margin: 10px 0; border-radius: 2px;">
        </form>
    </div>
{% endblock  %}