{% extends 'general_app/components/base_post.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block container %}
    <div id="container" class="{{post.language}}">
        <div id="contain">
            <div class="card">
               <h1 class="card-title f-500 fz-14">Song: {{post.title}}</h1>
               <div class="post-detial flex mg-20-0">
                    <div class="card-img post-img">
                        <img src="{{post.image.url}}" alt="images">
                    </div>
                    <div class="about-post pdl-10 lineH-30">
                        <p class="fz-15">Artist: {{post.artist}}</p>
                        {% if post.album%}
                        <p class="fz-15">Album: {{post.album}}</p>
                        {% endif %}
                        <p class="fz-15 nowrap">Language: {{post.language}}</p>
                    </div>
               </div>
               <h2 class="lyric-title fz-17">Lyric {{post.title}}</h2>
               <div class="lyric-text fz-17 sec-clr">
                    {{post.lyric|safe|linebreaks}}
                </div>
            </div>
        </div>
    </div>
{% endblock  %}