{% extends 'general_app/components/base.html' %}

{% block title %}Report{% endblock %}

{% block container %}
    <div class="card">
        <section class="report-section sec-clr">
            <h2>Report your problem</h2>
            <h4 class="f-400 pd-10-0" style="font-size: 15px">To help us to find and fix the issue problem faster</h4>
            <form action="{% url 'report' %}" method="POST">
                {% csrf_token %}
                <div class="report-info">
                    <label for="report_email">Email</label>
                    <input type="email" name="report_email" spellcheck="false" id="report_email" class="report_email" placeholder="Email.." autocomplete="off">
                    <p class="input-error report_email_error"></p>
                </div>
                <div class="report-info">
                    <label for="report_detial">Report</label>
                    <textarea type="text" name="report_detail" spellcheck="false" id="report_detial" class="report_detial poppins" cols="30" rows="10" placeholder="Write you problem here"></textarea>
                    <p class="input-error report_detial_error"></p>
                </div>
                <button class="report-btn" type="submit">Report</button>
            </form>
        </section>
    </div>
{% endblock  %}